:root {
  /* color  */

  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
}
body {
  font-family: var(--ff-open-sans);
  font-size: 1rem;
  font-weight: 400;
}
img {
  width: 320px;
}
.container {
  width: 575px;
  max-width: 100%;
  margin: 0 auto;
  padding-inline: 1.5rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  color: var(--very-dark-blue);
  width: 100%;
  padding-top: 1.5rem;
  background-color: var(--light-grayish-blue);
}
.btn {
  padding: 0.875rem;
  width: 100%;
  color: white;
  font-weight: 700;
  background-color: var(--bright-blue);
  text-decoration: none;
}

/* navbar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--ff-raleway);
  margin-bottom: 7rem;
}
.nav-logo {
  width: 5rem;
}
.nav-item-content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.nav-item {
  font-size: 0.675em;
  margin: 0;
  color: var(--very-dark-blue);
}
/* hero section  */
.hero-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.125rem;
  margin-bottom: 11.25rem;
}
.hero-text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-title {
  font-family: var(--ff-raleway);
  font-size: 1.6375em;
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
}
.hero-text {
  font-size: 1em;
  margin: 0;
  line-height: 1.5;
}
.input-item {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.hero-input {
  border: 1px solid var(--very-dark-blue);
  border-radius: 0.25rem;
  padding: 0.9375rem 1.25rem;
}
.hero-btn {
  border-radius: 0.25rem;
  text-align: center;
  font-family: var(--ff-raleway);
}
.hero-btn:hover {
  background-color: hsla(224, 93%, 58%, 0.5);
  color: var(--light-grayish-blue);
  cursor: pointer;
}
.hero-img-content {
  width: 540px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
.hero-img {
  width: 95%;
  max-width: 100%;
}
/* quality section  */
.quality {
  display: flex;
  flex-direction: column-reverse;
  gap: 5.625rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.quality-text-content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.quality-title {
  font-family: var(--ff-raleway);
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
}
.quality-text {
  font-size: 1em;
  text-align: start;
  color: hsla(243, 87%, 12%, 0.5);
  margin: 0;
}
.quality-demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 54%;
  margin: 0 auto;
  border-bottom: 1px solid var(--moderate-cyan);
}
.quality-demo-text {
  margin: 0;
  color: hsl(170, 45%, 43%);
}
.quality-demo-icon {
  width: 1.2rem;
  height: 1.2rem;
}
.quote-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 18rem;
  margin: 0 auto;
  gap: 0.5rem;
  text-align: start;
  background-color: white;
  padding: 1.25rem 1.675rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.375rem;
}
.quote-text {
  margin: 0;
  font-size: 0.69em;
  line-height: 1.7;
}
.quote-testimonial {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.testimonial-name {
  font-size: 0.9em;
  margin: 0;
}
.testimonial-position {
  font-size: 0.5em;
  margin: 0;
}
.quote-testimonial-img {
  width: 2.25rem;
  border-radius: 5rem;
}
.quality-img-content {
  width: 320px;
}
.quality-img {
  width: 100%;
}
/* newsletter section  */
.newsletter {
  background-color: var(--desaturated-blue);
  color: var(--light-grayish-blue);
  text-align: center;
  padding-block: 3.625rem;
}
.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.newsletter-text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.newsletter-title {
  font-size: 1.4em;
  font-family: var(--ff-raleway);
  font-weight: 700;
}
.newsletter-text {
  font-size: 1.1em;
}
.newsletter-input-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 75%;
}
.newsletter-input {
  padding: 0.675rem;
  outline: 0;
}
.newsletter-btn:hover {
  background-color: hsla(224, 93%, 58%, 0.5);
  color: var(--light-grayish-blue);
  cursor: pointer;
}
/* footer  */
.footer {
  background-color: var(--very-dark-blue);
  padding: 3.9375rem 0 2.8125rem;
  color: var(--light-grayish-blue);
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2.5rem;
}
.footer-text-content {
  display: flex;
  flex-direction: column;
  gap: 3.9375rem;
  width: 100%;
}
.footer-logo {
  width: 11rem;
}
.footer-contact-icon {
  width: 1.125rem;
}
.footer-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-contact {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.footer-number {
  margin: 0;
  font-size: 1.1em;
}
.footer-nav-content {
  display: flex;
  flex-direction: column;
  gap: 3.4375rem;
}
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}
.nav-item {
  color: var(--light-grayish-blue);
  font-size: 1.1em;
}
.footer-social-icons {
  display: flex;
  gap: 2.5rem;
  margin: 0 auto;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
